:root{
  --textColor:rgb(65,64,66);
  --btnBgColor: #32B7b7;
}

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding: 0;
  font-size: 1em;
  font-family:"Neutrif Pro";
  height:100vh;
overflow: hidden;
}

.appLayout{
  background-color: #f2f0e4;
  height: 100vh;
  position: relative;
  width:100%;
  max-width:500px;
  margin:auto; 
}